<section *ngIf="activeRoom" class="msgArea">

  <h1 class="msg-history-channel-title">
    {{activeRoom.name}}
  </h1>

  <div class="messageBox">
    <article *ngFor="let msg of messages" class="msg">
      <h3 class="msgUsername">{{msg.username}}</h3>
      <p class="msgMessage">{{msg.message}}</p>
      <span class="msgDate">{{msg.date}}</span>
    </article>
  </div>

  <form>
    <input class="send-message-box" type="text" name="textmsg" [(ngModel)]="textMessage" placeholder="Enter text here...">
    <button class="send-button" type="submit" (click)="sendMessage()">Send</button>
  </form>

</section>

