.chat-room-wrapper {
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  width: 20%;
}

.room-list {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5px;
}

.room
{
  border: solid;
  border-left: none;
  margin-top: -1px;
  height: 80px;
  padding-left: 10px;
}

.active .room
{
  background-color: aqua;
}
