.chat-room-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  border-right: 1px solid lightgray;
  overflow: auto;
}

.room-list {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.room {
  height: 70px;
  border-left: none;
  padding: 10px;
  margin-bottom: 5px;
  transition: .25s ease;
  cursor: pointer;
}

.room:hover {
  background-color: #e0f2f1 !important;
}
