<!--<section *ngIf="isLoggedIn" class="chat-wrapper">

  <app-chat-room-display (activeRoomEvent)="onActiveRoomChanged($event)"
                         (roomLeaveEvent)="onRoomLeft($event)"
                         (roomJoinedEvent)="onRoomJoined($event)"></app-chat-room-display>

  <app-chat-message-history [activeRoom]="activeRoom" [username]="username"></app-chat-message-history>

  <app-chat-participants [activeRoom]="activeRoom"></app-chat-participants>

</section>

<h1 *ngIf="!isLoggedIn" class="login-label">
  SignUp or SignIn first.
</h1>-->
<md-grid-list cols="6" rowHeight="100px">
  <md-grid-tile>Gruppen</md-grid-tile>
  <md-grid-tile [colspan]="4"><h1 style="font-size: 50px;">{{activeRoom!= null? activeRoom.name:""}}</h1></md-grid-tile>
  <md-grid-tile>Teilnehmer</md-grid-tile>
</md-grid-list>
<md-grid-list cols="6" [rowHeight]=windowHeight>
  <md-grid-tile><app-chat-room-display style="height: 100%; width: 100%;" (activeRoomEvent)="onActiveRoomChanged($event)"
                                       (roomLeaveEvent)="onRoomLeft($event)"
                                       (roomJoinedEvent)="onRoomJoined($event)"></app-chat-room-display></md-grid-tile>
  <md-grid-tile [colspan]="4"><app-chat-message-history style="height: 100%; width: 100%" [activeRoom]="activeRoom" [username]="username" [email]="email"></app-chat-message-history></md-grid-tile>
  <md-grid-tile><app-chat-participants [activeRoom]="activeRoom"></app-chat-participants></md-grid-tile>
</md-grid-list>
