.participants-wrapper {
  height: 100%;
  width: 20%;
  float: right;
  box-sizing: border-box;
  padding: 0.5em 1em;
}


.chat-participants-title {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.83);
  margin-bottom: 1em;
}

.participants-name{
  font-size: .75rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.83);
  margin-bottom: 0.25em
}
